/*===============================common styles==============================*/
body {
    color: #777777;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;
}

h1 {

}

h2 {

}

h3 {
    color: #333333;
}

p {

}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
}

img {
    max-width:100%;
}
/*===============================cars==============================*/

.cars {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 720px;
}
@media (max-width: 480px) {
    .cars {
    box-sizing: border-box;
    flex-flow: column nowrap;
    width: 480px;
    }
}

/*------------------------------car-item-----------------------------------*/
.car__item {
    border: 1px solid #f5f6f9;
    border-top: none;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 100%;
    padding: 27px 26px 25px 24px;
}
@media (max-width: 480px) {
    .car__item {
        padding: 37px 50px 28px 53px;
        border: none;
    }
}

.car {

}
@media (max-width: 480px){
    .car {
        flex-flow: column nowrap;
    }
}

/*------------------------------car-photo-----------------------------------*/
.car__photo {
    display: block;
    flex: 0 0 116px;
    position: relative;
}
@media (max-width: 480px){
    .car__photo {
        flex: 0 0 378px;       
    }
}

.car__photo-img {
    display: block;
    flex: none;
}

/*------------------------------marks-----------------------------------*/
.marks {
    margin: -2px 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
}
@media (max-width: 480px){
    .marks {
        margin: -3px 0 0 -3px;
        position: absolute;
        top: 0;
        left: 0;
    }   
}

.marks__item {
    border-radius: 2px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 9px;
    margin: 1px;
    padding: 5px 6px 5px 7px;
    width: fit-content;
}
@media (max-width: 480px){
    .marks__item {
        font-size: 12px;
        margin: 2px;
        padding: 7px 8px 7px 9px;
    }
}

.marks__item--action {
    background-color: #f7d33b;
    color: #333333;
}

.car:first-child
.marks__item--action {
    display: none;
}

.marks__item--advice {
    background-color: #7558cd;
}

.marks__item--new {
    background-color: #62c34b;
}

.marks__item--hit {
    background-color: #e74650;
}

.car:first-child
.marks__item--hit {
    display: none;
}

/*------------------------------car-info-----------------------------------*/
.car__info {
    display: flex;
    flex: 0 1 100%;
    flex-flow: column nowrap;
    padding: 0 0 0 25px;
    position: relative;
}
@media (max-width: 480px){
    .car__info {
        padding: 29px 0 0 0;
    } 
}

a.car__name {
    
}
@media (max-width: 480px){
    a.car__name {
        font-size: 16px;
    }
}

a.car__name:hover {
    color: #2b7de0;
}

.car__description {
    font-size: 9.5px;
    flex: 0 1 auto;
    line-height: 15.5px;
    padding: 10px 62px 16px 0;
}
@media (max-width: 480px){
    .car__description {
        font-size: 13px;
        padding: 20px 0 19px 0;
        line-height: 19px;           
    }
}

.car__character {
    flex: 1 1 100%;
    font-size: 9.5px;
    line-height: 15.5px;
}
@media (max-width: 480px){
    .car__character {
        font-size: 13px;
        line-height: 21px;
    } 
}

.character__name::after{
    content: "—";
    padding: 0 4px 0 8px;
}
@media (max-width: 480px){
    .character__name::after {
        padding: 0 8px 0 12px;
    }
}

.character__value {
    color: #333333;
}

/*------------------------------car__buy-----------------------------------*/
.car__buy{
    display: flex;
    flex-flow: column nowrap;
}
@media (max-width: 480px){
    .car__buy{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 35px 0 0 0;
        margin: 0 0 0 -1px;
    }   
}

.car__buy-instruments {
    flex: 0 1;
    flex-flow: column nowrap;
    margin: -1px 0 10px 0;
}
@media (max-width: 480px){
    .car__buy-instruments {    
        flex-flow: column wrap;  
    }
}

.car__buy-status {
    font-size: 8px;
    text-transform: uppercase;
    padding: 0 0 12px 0px;
}
@media (max-width: 480px){
    .car__buy-status {
        font-size: 11px;
        padding: 0 0 18px 0px;
    }  
}

.status--wait {
	color: #f28c29;
}

.status--in-stock {
	color: #5fa800;
}

.car__buy-price {
    color: #333333; 
    font-size: 12.5px;
    font-weight: bold;
}
@media (max-width: 480px){
    .car__buy-price {
        font-size: 17px;
    }
}

.car__buy-old-price {
    font-size: 9.5px;
    text-decoration: line-through;
    padding: 8px 0 0 0;
}
@media (max-width: 480px){
    .car__buy-old-price {
        font-size: 13px;
        padding: 11px 0 0 0;
    }
}

/*------------------------------car__buy-quantity-----------------------------------*/
.car__buy-quantity {
    background-color: #f8f9fb;
    box-sizing: border-box;
    border: 1px solid #f0f0f1;
    border-radius: 2px;
    display: block;
    display: flex;
    justify-content: space-between;
    flex: 0 1;
    height: 26px;
    margin: 14px 0 2px 0;
    width: 139px;
}
@media (max-width: 480px){
    .car__buy-quantity {
        box-sizing: border-box;
        height: 35px;
        margin: 20px 0 0 0;
        width: 193px;
    }
}

a.buy__quantity-btn-minus {
    color: #333333;
}

.minus-img {
    padding: 6px 0 0 5px;
    width: 12px;
}
@media (max-width: 480px){
    .minus-img {
        padding: 9px 0 8px 8px;
        width: 15px;
    }
}

a.buy__quantity-btn-minus:hover {
    color: #5194e5;
}

a.buy__quantity-btn-plus {
    color: #333333;
}

.plus-img {
    padding: 4px 3px 0 0;
    width: 15px;
}
@media (max-width: 480px){
    .plus-img {
        padding: 9px 9px 0 0;
        width: 15px;
    }
}

a.buy__quantity-btn-plus:hover {
    color: #5194e5;
}

.buy__quantity-count {
    background-color: transparent;
    border: none;
    color: #777777;
    font-size: 9px;
    padding: 0 0 0 3px;
    text-align: center;
    width: 20px;
    outline: none;  
}
@media (max-width: 480px){
    .buy__quantity-count {
        font-size: 13px;
        padding: 0 0 0 2px;
    }
}
.buy__quantity-count::-webkit-inner-spin-button,
.buy__quantity-count::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin:0;
}

/*------------------------------button-----------------------------------*/
.btn {
    background-color: #2b7de0;
    border-radius: 2px;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    flex: 0 1;
    font-size: 8.5px;
    font-family: 'Montserrat', sans-serif;
    height: 26px;
    margin: 1px 0 0 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 0;
    width: 139px;
}
@media (max-width: 480px){
    .btn {
        box-sizing: border-box;
        flex: 0 1;
        font-size: 12px;
        height: 35px;
        margin: 4px 0 0 0;
        text-decoration: none;
        padding: 10px 0;
        width: 193px;
    }
}

.btn:hover,
.btn:focus {
    outline: none;
}

/*------------------------------buy__info-----------------------------------*/
.info {
    display: flex;
    justify-content: flex-start;
}
@media (max-width: 480px){
    .info {
       justify-content: flex-end;
       padding: 13px 0 0 257px;
       position: absolute;
    }
    .car:nth-child(2)
    .info {
       padding: 13px 0 0 176px;
       position: absolute;
    }
}

.info__logo {
    color: #777777;
    padding: 0 5px 0 0;
}

.info__logo--size {
    width: 13px;
}
@media (max-width: 480px){
    .info__logo--size {
        width: 17px;
    } 
}

.info__description {
    align-self: center;
    color: #777777;
    font-size: 9px;
    line-height: 15px;
}
@media (max-width: 480px){
    .info__description {
        align-self: flex-start;
        font-size: 12px;
        line-height: 18px;
        padding: 0 0 0 2px;        
    }   
}
