<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="assets/css/reset.css" media="all">
    <link type="text/css" rel="stylesheet" href="assets/css/screen.css" media="all">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <title>Товары</title>
</head>
<body>
    <ul class="cars">
        <li class="car__item car--ponevira">
            <div class="car__photo">
                <ul class="marks">
                    <li class="marks__item marks__item--action">Акция</li>
                    <li class="marks__item marks__item--advice">Мы советуем</li>
                    <li class="marks__item marks__item--new">Новинка</li>
                    <li class="marks__item marks__item--hit">Хит</li>
                </ul>
                <a href="#" class="car__photo-img"><img src="images/content/ponevira.jpg" srcset="images/content/ponevira2x.jpg 2x" alt="Backen Ponevira"></a>
            </div>
            <div class="car__info">
                <h3><a href="#" class="car__name">Backen Ponevira</a></h3>
                <div class="car__description description">Люксовый автомобиль, который сумел объединить в себе несочетаемое:
                    мощность и комфорт, динамику и экономичность, бизнес и поездки с семьей.</div>
                <ul class="car__character character">
                    <li class="car__power">
                        <span class="character__name">Мощность, л.с.</span>
                        <span class="character__value">440</span>
                    </li>
                    <li class="car__engine">
                        <span class="character__name">Объем двигателя, куб. см.</span>
                        <span class="character__value">2894</span>
                    </li>
                    <li class="car__acceleration">
                        <span class="character__name">Разгон до 100 км/ч,</span>
                        <span class="character__value">4.4</span>
                    </li>
                </ul>
            </div>
            <div class="car__buy">
                <div class="car__buy-instruments">
                    <div class="buy__status status status--wait">Ожидается</div>
                    <div class="buy__price">от 6 218 000 р.</div>
                    <form class="form__add" action="#" method="POST">
                        <div class="car__buy-quantity">
                            <a href="" class="buy__quantity-btn" data-name="minus">
                                <svg class="minus-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </a>
                            <input type="number" class="buy__quantity-count" name="count" value="1">
                            <a href="" class="buy__quantity-btn" data-name="plus">
                                <svg class="plus-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </a>
                        </div>
                        <input type="submit" class="btn" name="button" value="В корзину">
                    </form>
                </div>
                <div class="buy__info">
                    <a href="#" class="info__logo">
                        <svg class="info__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </a>
                    <div class="info__description">Немецкая сборка</div>
                </div>
            </div>
        </li>
        <li class="car__item car--mocen">
            <div class="car__photo">
                <ul class="marks">
                    <li class="marks__item marks__item--action">Акция</li>
                    <li class="marks__item marks__item--advice">Мы советуем</li>
                    <li class="marks__item marks__item--new">Новинка</li>
                    <li class="marks__item marks__item--hit">Хит</li>
                </ul>
                <a href="#" class="car__photo-img"><img class="car__photo-img" src="images/content/mocen.jpg" srcset="images/content/mocen2x.jpg 2x"
                        alt="Backen Mocen"></a>
            </div>
            <div class="car__info">
                <h3><a href="#" class="car__name">Backen Mocen</a></h3>
                <div class="car__description description">Спортивный кроссовер для тех, кто предпочитает быть всегда первым –
                    эффектный вид, полный привод, возвышенная посадка и мощный двигатель.</div>
                <ul class="car__character character">
                    <li class="car__power">
                        <span class="character__name">Мощность, л.с.</span>
                        <span class="character__value">360</span>
                    </li>
                    <li class="car__engine">
                        <span class="character__name">Объем двигателя, куб. см.</span>
                        <span class="character__value">2997</span>
                    </li>
                    <li class="car__acceleration">
                        <span class="character__name">Разгон до 100 км/ч,</span>
                        <span class="character__value">5.2</span>
                    </li>
                </ul>
            </div>
            <div class="car__buy">
                <div class="car__buy-instruments">
                    <div class="buy__status status status--in-stock">В наличии</div>
                    <div class="buy__price">от 5 506 000 р.</div>
                    <div class="buy__old-price old-price">5 720 000 р.</div>
                    <form class="form__add" action="#" method="POST">
                        <div class="car__buy-quantity">
                            <a href="" class="buy__quantity-btn" data-name="minus">
                                <svg class="minus-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </a>
                            <input type="number" class="buy__quantity-count" name="count" value="1">
                            <a href="" class="buy__quantity-btn" data-name="plus">
                                <svg class="plus-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </a>
                        </div>
                        <input type="submit" class="btn" value="В корзину">
                    </form>                    
                </div>
                <div class="buy__info">
                    <a href="#" class="info__logo">
                        <svg class="info__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="16" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                        </svg>
                    </a>
                    <div class="info__description">Прямая поставка из Германии</div>
                </div>
            </div>
        </li>
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
        integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
        crossorigin="anonymous"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>